/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/*
font-family: 'Noto Sans KR', sans-serif
*/

:root{
    --main-color: #71d5c2;
    --white: #fafafa;
}
ul {
    list-style: none;
    padding: 0;
    margin: 20px;
}
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
/**************************************************

    modal-bg

***************************************************/
.modal-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-content{
    width: 70%;
    height: 70%;
    background: var(--white);
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}
/**************************************************

    indexTemplate

***************************************************/
html{
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 70px;
  	border-bottom: 1px solid #80808026;

    padding: 5px;
}
article{
    width: 100%;
}
.main-bg{
	width: 100%;
	height: 600px;
	
	background-image: url("/aniwalk/images/index_bg.jpg");
	background-repeat : no-repeat;
	background-size : cover;
}
.innerBox{
    width: 300px;
    height: 350px;
    background: #71d5c2b8;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 33%;
    right: 8%;
}
.innerBox label{
    font-size: 2rem;
}
.innerBox button{
    display: block;
    margin-top: 30px;
}
footer{
    width: 100%;
    height: 6%;
    background: var(--main-color);
    color: var(--white);
    margin: 0;
    text-align: center;
    padding: 10px;
}

/**************************************************

    main-nav

***************************************************/
.main-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.main-nav img{
    width: 120px;
    height: 100px;
    position: relative;
    top: -23px;
    left: -10px;
}
.nav-ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 16px 100px auto auto;
}
.nav-ul li{
    margin: auto 30px;
    font-size: 1.8rem;
}
.nav-ul li:hover{
    cursor: pointer;
}
.apply-nav{
	display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3rem;

    position: relative;
    top: -25px;
}
.apply-nav img{
	width: 130px;
    height: 100px;
}
/**************************************************

    signUp

***************************************************/
.container{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    padding: 20px;
    
}
.register{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    height: 100%;

    width: 100%;
    height: 90%;
    margin: auto 1px;
}

.register-left{
    width: 25%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}
.register-right{
    width: 75%;
    height: 90%;
    padding: 20px;
    border-radius: 10px;

    background: var(--white);
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
}
.register-right ul{
	margin: 0;
}
.register-right button{
	width: 60%;
}
.register-right .mydog-input ul li{
	display: flex;
	flex-direction: column;
	
	margin: 10px 0;
}



.mydog-input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 80%;
    height: 90%;
}
.mydog-input .input-form{
    display: flex;
    justify-content: space-around;
}
.mydog-input .input-form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mydog-input .input-form img{
    width: 200px;
}
.mydog-input .input-form img:hover{
    cursor: pointer;
}
.mydog-input .input-form ul{
    width: 100%;
}
.mydog-input .input-form ul li{
    margin: 10px 0;
}
.mydog-input button{
    width: 85%;
    height: 50px;
    margin: 0 auto;
}

/**************************************************

    walkerApply

***************************************************/
.walker-apply-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;

}
.walker-apply-form ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.terms{
    width: 90%;
}
.terms li{
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.terms li div{
    width: 80%;
}
.terms li div:hover{
    cursor: pointer;
}
.terms li span:hover{
    cursor: pointer;
}
.auth-btn{
    margin: 20px 10px;
}
.apply-list{
    margin: 50px 10px 0 10px;
}
.apply-list li{
    width: 100%;
    margin: 5px 0;
}
.apply-list li img{
    width: 300px;
    max-height: 350px;

    margin-bottom: 20px;
}
.apply-list li label{
    display: block;
}
.walker-apply-form .btn-success{
    margin: 40px 10px 10px 10px;
}