@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/*배민주아체
font-family: 'Jua', sans-serif;
*/

:root{
    --main-color: #71d5c2;
    --white: #fafafa;
    --black: #212121;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
/**************************************************

    modal-bg

***************************************************/
.modal-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-content{
    width: 70%;
    height: 70%;
    background: var(--white);
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}
/**************************************************

    indexTemplate

***************************************************/
html{
    width: 100%;
    height: 100%;

}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;

}

.user-nav{
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    left: -450px;

    border-right: 1px solid var(--black);
    border-radius: 10px;
}

.close{
    padding: 10px;
    z-index: 1;
    position: absolute;
    top: 2px;
    right: 3%;
}
.content-part{
    width: 100%;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
}
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

@media screen and (max-width: 1200px){
    .user-nav{
        width: 400px;
    }
}
@media screen and (max-width: 900px){
    .user-nav{
        display: none;
    }
    .content-part{
        width: 100%;
    }
}

.left-move{
    transition: 1s;
    transform: translateX(-450px);
}

.right-move{
    transition: 1s;
    transform: translateX(450px);
}


/**************************************************

    ownerNav

***************************************************/
.ownerNav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ownerNav img{
    width: 100px;
    height: 100px;
    display: block;

    position: relative;
    top: -40px;
}

.ownerNav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}
.ownerNav ul li{
    margin: 10px auto;

}
.ownerNav ul li label{
    text-align: center;
    display: block;
    margin: 10px auto 0 auto;
}
.ownerNav ul li button{
    background: rgb(94,94,94);
    width: 200px;
    height: 44px;
    border: none;

}

/**************************************************

    ownerIndex

***************************************************/
.index-img{
    background: rgba(52, 152, 219, 0.6);
}

/**************************************************

    ownerMy

***************************************************/
.my-page{
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: 'Noto Sans KR', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
}
.my-page section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 100%;
}
.my-page img{
    width: 150px;
    height: 150px;
}

.my-page .subtitle{
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
    color: var(--white);
    user-select: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
}
.my-page .subtitle h4{
    margin-left: 100px;
    margin-top: 10px;
}
.my-part button{
    margin: 20px auto 0 auto;
}
.my-part ul{
    position: relative;
    left: 35px;

}
.my-part ul li button{
    position: relative;
    left: 50px;
}
.mydogs{
    width: 100%;
}
.mydog-item{
    box-shadow: rgb(26, 188, 156) 2px 0 10px 1px;
    width: 65%;
    padding: 20px;
    border-radius: 15px;
}
.mydog-item img{
    float: left;
}
.mydog-name{
    position: relative;
    z-index: 5;
    top: -40px;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px;
    height: 40px;
    background: #fafafa;
    font-weight: bold;
    width: 25%;
    text-align: center;
}
.mydog-add{
    font-size: 2.3rem;
    margin: 25px auto 5px auto;
}
.mydog-add:hover{
    cursor: pointer;
}

.my-walked .form-group{
    width: 90%;
    padding: 10px;
}
.my-walked .walked-month{
    font-size: 1.5rem;
    background: #eff0f1;
    padding: 10px 0 10px 20px;
    margin: 10px auto;
    border-bottom: 1px solid #888;
}
.my-walked .walked-info{
    display: flex;
}
.walked-info ul{
    margin: 20px;
    font-size: 1.7rem;
}
.walked-info ul li{
    margin: 10px 0;
}


/**************************************************

    ownerRecruit

***************************************************/
.recruit-write{
    width: 100%;
    overflow: scroll;
}
.recruit-write section{
    width: 90%;
    margin: 20px auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recruit-write section h4{
    margin: 10px 0;
}

.recruit-write section ol li img{
    width: 200px;
    height: 200px;
}
.recruit-write section ol li{
    text-align: center;
}
.recruit-write section ol li label{
    margin: 20px auto 0 auto;
}
.recruit-write .form-group{
    width: 40%;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recruit-write .form-group div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 1px solid var(--black);
}
.recruit-write .form-group label{
    margin: 20px auto;
}
.recruit-write .form-group i{
    font-size: 10rem;
}
.recruit-write .date-select{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.recruit-write .notice label{
    width: 100%;
    height: 300px;
}
.recruit-write .notice textarea{
    margin: auto;
    height: 200px;
}