@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/*배민주아체
font-family: 'Noto Sans KR', sans-serif;
*/

:root{
    --main-color: #71d5c2;
    --white: #fafafa;
    --black: #212121;
    --purple: rgb(155, 89, 182);
    --blue: rgb(90, 166, 216);
    --yellow: rgb(241, 196, 15);
    --darkgray: rgb(94, 94, 94);
}

/**************************************************

    공통

***************************************************/
html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;

    overflow: hidden;

    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li ul{
    list-style: circle;
    margin: 20px auto 0 auto;
}
button{
    border: none;
}
button:hover{
    color: var(--white);
}

.close{
    padding: 10px;
    z-index: 1;
    position: absolute;
    top: 2px;
    right: 3%;
}
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.subtitle{
    display: flex;
}


/**************************************************

    별점

***************************************************/

.star-rating {
    width:304px;
}
.star-rating,.star-rating span {
    display:inline-block;
    height:55px;
    overflow:hidden;
    background:url("../../images/star.png")no-repeat;
}
.star-rating span{
    background-position:left bottom;
    line-height:0;
    vertical-align:top;
}

/**************************************************

    modal-bg

***************************************************/
.modal-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-content{
    width: 70%;
    height: 70%;
    background: var(--white);
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}


/**************************************************

    walkerIndex

***************************************************/
.walker-index{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.walker-index button{
    width: 300px;
    height: 50px;
}
.walker-login{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.walker-login ul li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.text-center div{
    width: 100%;
    text-align: center;
}
.text-center div:hover{
    cursor: pointer;
}
.walker-login ul li button{
    width: 100%;
    height: 45px;
    background: var(--purple);
    color: var(--white);
}

/**************************************************

    walkerTemplate

***************************************************/
nav{
    min-width: 100px;
    max-width: 7%;
}
article{
    width: 93%;
    height: 100%;
    background: purple;
}

/**************************************************

    walkerNav

***************************************************/
.walker-nav{
    width: 100%;
    height: 100%;

    font-size: 4rem;
    color: var(--white);
    background: rgb(90, 166, 216);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/**************************************************

    walkerMain

***************************************************/
.main-active-none{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-active-none img{
    width: 40%;
    height: 50%;

    margin-bottom: 50px;
}
.main-active-list{
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 20px;
}
.main-active-list h2{
    margin-bottom: 50px;
}
.main-active-list .subtitle{
    width: 100%;
    display: flex;
}
.main-active-list table{
    width: 98%;
    margin: 5px auto 50px auto;
}
.main-active-list table td{
    padding: 5px;
}
.main-active-list table th{
    padding: 5px;
}
.main-active-list table tr td div{
    width: 100%;
    padding: 5px;
    color: var(--white);
    text-align: center;
    font-weight: bold;
}
.not{
    background: var(--yellow);
}
.done{
    background: var(--blue);
}


/**************************************************

    walkerRecruitList

***************************************************/
section{
    width: 100%;
    height: 100%;

    overflow: scroll;

    padding: 30px;
}
section .search-part{
    width: 100%;
}
section .search-part form{
    width: 100%;
    display: flex;
}
section .search-part form label{
    width: 80%;
}

.detail-search{
    width: 100%;
    text-align: center;
}
.detail-search:hover{
    cursor: pointer;
}

.list-part{
    margin-top: 50px;
}
.list-part .form-group{
    border-radius: 10px;
    border: 1px solid;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 20px 0 5px 0;
    margin-left: 30px;
}
.list-part .form-group img{
    width: 250px;
    height: 200px;
}
.list-part .form-group ul{
    font-size: 1.5rem;
}


/**************************************************

    walkerMy

***************************************************/
.info-part{
    display: flex;
    justify-content: center;
}
.info-part img{
    width: 300px;
    height: 250px;
}
.info-part table{
    width: 44%;
    margin: 10px 0 30px 10%;
}
.info-part table th{
    padding: 10px 0;
    width: 100px;
}
.info-part .btn-default{
    background: var(--darkgray);
    color: var(--white);
    border: none;
}
#infoUpdate{
    width: 100%;
    height: 45px;
    margin: 40px auto;
}

.review-score{
    display: flex;
    margin-bottom: 30px;
}
.review-score h3{
    margin: 0 10px;
}
.review-score span{
    line-height: 38px;
}
.review-score .star-rating {
    width: 170px;
}
.review-score .star-rating, .review-score .star-rating span {
    display:inline-block;
    height:27px;
    overflow:hidden;
    background:url("../../images/littlestar.png")no-repeat;
}
.review-score .star-rating span{
    background-position:left bottom;
    line-height:0;
    vertical-align:top;
}


.list-item{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.list-item ul{
    width: 70%;
    margin-left: 50px;
}
.list-item ul .bottom-margin{
    margin-bottom: 30px;
}
.list-item ul .bottom-margin .right{
    position: relative;
    left: 50%;
}
.list-item .img-circle{
    width: 40px;
    height: 35px;
}
.list-item .img-rounded{
    width: 150px;
    height: 150px;
}
.list-item .star-rating {
    width: 90px;
}
.list-item .star-rating, .list-item .star-rating span {
    display:inline-block;
    height:14px;
    overflow:hidden;
    background:url("../../images/morelittlestar.png")no-repeat;
}
.list-item .star-rating span{
    background-position:left bottom;
    line-height:0;
    vertical-align:top;
}

.password-field{
    width: 58%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.password-field h3{
    margin-bottom: 70px;
}
.password-field div{
    width: 100%;
}
.password-field .input-label{
    width: 75%;
    margin: 0 20px;
}
.password-field button{
    width: 80%;
    height: 50px;
    margin: 50px auto 0 auto;
}


/**************************************************

    walkerMyInfoUpdate

***************************************************/
.myinfo-update{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.myinfo-update form{
    width: 70%;
    margin: 10px auto;
}
.myinfo-update form h3{
    position: relative;
    top: -50px;
}
.myinfo-update form table input{
    width: 90%;
    margin-left: 20px;
}
.myinfo-update form table .select-city{
    display: flex;
    line-height: 33px;
}
.myinfo-update form table .select-city select{
    margin: 0 10px;
}
.myinfo-update form table .btn-danger{
    width: 150px;
}
.myinfo-update form table .btn-primary{
    width: 100%;
    height: 50px;
    margin-top: 30px;
}