<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>
	<typeAliases>
		<typeAlias type="kr.pandorabox.aniwalk.walker.WalkerDTO" alias="walker"/>
		<typeAlias type="kr.pandorabox.aniwalk.walking.WalkingDTO" alias="walking"/>
		<typeAlias type="kr.pandorabox.aniwalk.member.JoinMemberDogImgDTO" alias="joinMemberDogImage"/>
		<typeAlias type="kr.pandorabox.aniwalk.manager.MemberDTO" alias="member"/>
		<typeAlias type="kr.pandorabox.aniwalk.chat.ChatDTO" alias="chat"/>
		<typeAlias type="kr.pandorabox.aniwalk.walking.ApplyWalkingDTO" alias="apply"/>
		<typeAlias type="kr.pandorabox.aniwalk.review.ReviewDTO" alias="review"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/member.xml"/>
		<mapper resource="mapper/walker.xml"/>
		<mapper resource="mapper/manager.xml"/>
		<mapper resource="mapper/walking.xml"/>
		<mapper resource="mapper/chat.xml"/>
		<mapper resource="mapper/review.xml"/>
	</mappers>
</configuration>