<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
	<typeAliases>
		<typeAlias type="kr.pandorabox.aniwalk.walker.WalkerDTO" alias="walker"/>
		<typeAlias type="kr.pandorabox.aniwalk.member.MemberDTO" alias="member"/>
		<typeAlias type="kr.pandorabox.aniwalk.member.DogDTO" alias="dog"/>
		<typeAlias type="kr.pandorabox.aniwalk.member.DogImgDTO" alias="dogimg"/>
		<typeAlias type="kr.pandorabox.aniwalk.member.JoinMemberDogImgDTO" alias="joinMemberDogImage"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/member.xml"/>
		<mapper resource="mapper/walker.xml"/>
	</mappers>
</configuration>